*{
  padding: 0;
  margin:0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
nav{
  background: #682424;
  height: 80px;
  width:100%;
}
nav img{
  line-height: 80px;
  padding: .4em 15px;
  height: 80px;
  border-radius: 4em;

}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0px0 5px;
}
nav ul li a{
  color: white;
  padding: 7px 13px;
  font-size: 17px;
}
nav button{
  background-color: #682424;
  border: none;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
display: none;
}
.row textarea{
  margin: 1em 1em 0em 1em;
}
.row .column button{
  margin-top: -2em;
}
.row p{
    --max-lines: 3;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
}

  
  .row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    /* background-color: #682424; */
    padding: 1em;
  }
  .column img{
    width: 100%;
    height: 70%;
    
  }
  /* .column2 img{
    width: 100%;
    height: 70%;
  } */
  /* .column3 img{
    width: 100%;
    height: 70%;
  } */
  .row a{
    text-decoration: none;
    color: white;
    background-color: #682424;
    padding: .5em;
    border-radius: .5em;
  }
  .row{
    text-align: center;
  }
h2{
  text-align: center;
}
  @media screen AND (max-width: 1024px) {
    .row{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
    .column img{
      width: 100%;
      height: 70%;
    }
    
  }
  
  @media screen AND (max-width: 600px) {
    .row{
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
    }
    .column img{
      width: 100%;
      height: 70%;
    }
    
  }
  @media (max-width: 414px){  
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #682424;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul {
        left: 0;
    }
    h2{
      font-size: 1.6em;
    }
    .row{
      gap: 2em;
    }
  }
  [data-signedin = "true"] .hidden {
    display: none;
  }
  [data-signedin = "false"] .hidden {
    display: block;
  }
  [data-signedin = "true"] .visible {
    display: block;
  }
  [data-signedin = "false"] .visible {
    display: none;
  }
