*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background: #682424;
    height: 80px;
    width:100%;
}
nav img{
    line-height: 80px;
    padding: .4em 15px;
    height: 80px;
    border-radius: 4em;

}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px0 5px;
}
nav ul li a{
    color: white;
    padding: 7px 13px;
    font-size: 17px;
}
nav button{
    background-color: #682424;
    border: none;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
  display: none;
  }
.column button{
    margin:14em 0em 5em 0em;
    background-color: #682424;
    color: white;
    border-radius: 1em;
    width:10em;
    height: 2.5em;
    font-weight: 600;
}
h2{
    text-align: center;
}
h5 h3{
    font-family: 'poppins';
    
}
h3{
    font-size: 2em;
    
}
.row{
    display: grid;
    height:100vh;
    background: #EEEEEE;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}
.column{
    width: 100%;
    background: #EEEEEE;
    padding: 2em;
    margin-top: -10em;

}
.column .skill-box{
    width: 100%;
    margin: 25px 0;
    
}
.skill-box .title{
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    color:#000;
}
.skill-box .skill-bar{
    height: 1em;
    width: 100%;
    margin-top: 6px;
    background: rgba(0,0,0,0.1);
}
.skill-bar .skill-per{
    position: relative;
    display: block;
    height: 90%;
    background: #682424;

}
.skill-per.skill-per.javascript{
    width:60%;
    }
.skill-per.css{
width:70%;
     }
.skill-per.c{
    width:85%;
     }
.skill-per.html{
        width:80%;
     }    
.skill-per .tooltip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color: #ffffff;
    padding: 2px 6px;
    background: #682424;

}

@media (max-width: 668px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #682424;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;


    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul {
        left: 0;
    }
    
}
@media (max-width: 414px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #682424;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;


    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul {
        left: 0;
    }
    .row{
      display: grid;  
      grid-template-columns: repeat(1, 1fr);
    }
    h2{
        padding: 1em;
    }
    
    span .tooltip{
        font-size: 6em;
    }
    .column button{
        margin: 3em 0 0 0;
    }
}












