*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background: #682424;
    height: 80px;
    width:100%;
}
nav img{
    line-height: 80px;
    margin-left: 5em;
    height: 80px;
    border-radius: 4em;

}
nav ul{
    float: right;
    margin-right: 70px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0px0 5px;
}
nav ul li a{
    color: white;
    padding: 7px 13px;
    font-size: 17px;
}
nav button{
    background-color: #682424;
    border: none;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
  display: none;
  }
.container{
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 5em;
    background-color: #eeeeee;
    padding: 3em;
    border-radius: 15px;
    height: 80vh;
}
.container img{
    width:90vh;
    height: 60vh;
}
.container p, h3, h4, ul{
    color: white;
    padding: 0 .5em 1em 0;
}
.container h3{
    font-weight: bold;
    font-size: 50px;
}
.container i{
    font-size: 30px;
}
.social-icons{
    margin-top: 1em;
    display: flex;
    padding-right: 4em;
}
.fa-brands {
    padding-right: 5px;
}
.text{
padding: 3em 0 0 1em;
}

@media (max-width: 668px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #682424;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;


    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul {
        left: 0;
    }
    .text{
        font-size: 10px;
    }
    .container{
        padding: 2em;
    }
}
@media (max-width: 414px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #682424;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;


    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul {
        left: 0;
    }
    .text{
        font-size: 16px;
    }
    .container{
        display: block;
    }
}
[data-signedin = "true"] .hidden {
    display: none;
  }
  [data-signedin = "false"] .hidden {
    display: block;
  }
  [data-signedin = "true"] .visible {
    display: block;
  }
  [data-signedin = "false"] .visible {
    display: none;
  }



